.sidebar {

}


.open {
    background-color: darkgray;
width: 350px;
    height: 100%;
}

.open:hover {
    color: deepskyblue;
}

.sidebar.open {
    position: absolute;


}

.background {

}

.nav {
display: flex;
 flex-direction: column;

}

.nav a {
 font-size: 30px;
 color: black;
 text-decoration: none;
}

.nav a:hover {
    color: dodgerblue;
}

nav a.active {
 display: none;
    color: red;
}


.close {
    background-color: deepskyblue;
}

.close.active {
    background-color: #cc0000;
}

.close img {

}
