.sidebar {

}

.open {
    color: black;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: none;
}

.open:hover {
color: deepskyblue;
}

.sidebar.open {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;

}

.background {

}

.nav {

}

.nav a {

}

.nav a:hover {

}

.nav a.active {

}

.close {
    color: green;
}

.close img {
}
