.input:focus {

}

.input {
    display: flex;
    position: relative;
    width: 276px;
    height: 36px;
   padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid gray;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
    border: 2px solid red;

}

.errorInput:focus {
    border: 2px solid red;
}

.error {
    margin: 0 0 5px 5px;
    color: red;
}
