.tech {
    width: 50vw;
}
.hw15Block {

    opacity: 0.3;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    margin-top: 20px;
}

.rowHeader {
    display: flex;
}

.loading {
    position: absolute;
    padding: 50px 0 0 300px;
}