.greetingForm {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.inputAndButtonContainer {

}

.error {

}

.input {


}

.input:focus {

}

.errorInput {

}

.button {

}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {

}

.greeting {
}

.inputClass {

}
