.greetingForm {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

}

.inputAndButtonContainer {

}

.error {
color: red;
}

.input {


}

.input:focus {

}

.errorInput {

}

.button {

}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {

}

.greeting {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.inputClass {

}
