.button {
    width: 129px;
    height: 30px;

 }

.disabled {
    background-color: #305c8f;

}

.secondary {
    background-color: white;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.default {
    background-color: blue;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.default:hover {
    background-color: #0032c7;
}

.red:hover {
    background-color: #cc0000;
}

.secondary:hover {
    background-color: #b4b4b4;
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {

}
